.hero {
  background: {
    image: url("../../img/1.\ hearo-top.jpg");
    position: center center;
    size: cover;
  }
  height: 145vh;
  width: 100%;

  .menu-icon {
    position: fixed;
    color: $textColor;
    top: 15px;
    right: 15px;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }

  .logo {
    position: absolute;
    height: 85px;
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
  }

  .arrow-down {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    animation: slide 0.5s ease-in-out infinite alternate;

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
